
<div class="body">
    <div class="body">

        <div class="navbar">
            <div class="img">
                <img src="../../assets/images/Logo.jpeg" alt="logo here"> &nbsp;
            </div>
            <div class="nav">
                <p>Government of Andhra Pradesh</p>
            </div>
        </div>

        
        <div class="super-container">
            <div class="alert alert-danger text-center " *ngIf="errorMsg">
            <p class="alert-danger m-0 p-0">
                {{error}}
            </p>
        </div>
            <div class="container">
                <h1>Login</h1>
                <div class="feild">
                    <input type="text" class="input-text" id="sc" placeholder="Secretariats code" [(ngModel)]="User">
            
                </div>
                <div class="field">
                    <input [type]="ShowPassword?'text':'password'" id="password" class="input-text" placeholder="Password" [(ngModel)]="Password">
                </div> 
                <div class="check">
                    
                    <input type="checkbox" id="checkbox" [(ngModel)]="ShowPassword">
                    <label for="checkbox">Show password</label>
                </div>
                <input type="submit" (click)="login()" value="Login"><br>
                
            </div>
        </div>
        
    </div>

</div>